@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap");
@import "./components/scrollbar";

$primarycolor: #369ee1;
$secondarycolor: rgba(255, 255, 255, 0.8);
$bordercolor: #4e5f71;
$fontfamily: "Poppins", sans-serif;
$black: rgb(30, 30, 30);

* {
  font-family: $fontfamily;
}
.text-blue {
  color: $primarycolor !important;
}

body,
.bg-light,
.modal-content {
  background: rgb(53, 69, 85);
  background: linear-gradient(
    90deg,
    rgba(53, 69, 85, 1) 0%,
    rgba(36, 48, 59, 1) 100%
  );
}
.modal-content {
  color: $secondarycolor;
  .modal-header {
    border: none;
    font-size: 2rem;
    border-bottom: 1px solid $bordercolor;
  }
}

@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin shadow-sm {
  box-shadow: 0px 1rem 1rem #00000015;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs {
  .nav-link.active {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
    padding-left: 0px !important;
    padding-right: 2rem !important;
  }
  .nav-link {
    background-color: transparent !important;
    border: none !important;
    color: $secondarycolor !important;
    padding-left: 0px !important;
    padding-right: 2rem !important;
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $primarycolor;
      transition: width 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
.nav-tabs {
  border-bottom: 1px solid $bordercolor !important;
  margin-top: 2px;
  margin-bottom: 1rem !important;
  padding-bottom: 0.3rem;
}

.col-sm-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-right: 1px solid $bordercolor;
}

.list-group-item.active,
.list-group-item {
  background-color: transparent !important;
  border-bottom: 1px solid $bordercolor !important;
  color: $secondarycolor !important;
}

.col-sm-9 {
  height: 85vh;
  .chat-text-container {
    flex-grow: 1 !important;
    height: 75vh;
    overflow: auto;
    padding-right: 1rem;
    .chat-text {
      @include displayFlex(flex-end, flex-start);
      flex-direction: column;
      .text-sameUser,
      .text-diffUser {
        margin: 0.25rem 0rem;
        flex-direction: column;
        color: $secondarycolor;
        .message {
          border-radius: 0.25rem !important;
          padding: 0.25rem 0.5rem;
          @include shadow-sm();
        }
      }
      .text-sameUser {
        @include displayFlex(center, flex-end);
        align-self: flex-end !important;
        .message {
          background-color: $primarycolor;
        }
      }
      .text-diffUser {
        @include displayFlex(center, flex-start);
        .message {
          background-color: $bordercolor;
        }
      }
    }
  }
  .bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-right: 1rem;
    input {
      background-color: $black;
      border: none;
      color: $secondarycolor;
      border-radius: 50ex;
    }
    .material-icons.button {
      background-color: transparent;
      border: none;
    }
    // border: 1px solid white;
  }
}

.header,
.top {
  border-bottom: 1px solid #4e5f71;
}

.footer {
  border-top: 1px solid #4e5f71;
}

.nav-tabs {
  padding-left: 1rem !important;
}

.close {
  color: $secondarycolor !important;
  font-weight: 500 !important;
  font-size: 2rem !important;
}
button {
  outline: none !important;
}

.emoji-picker-react,
.emoji-picker-react:focus {
  background-color: $bordercolor !important;
  color: $secondarycolor !important;
  box-shadow: none !important;
  border: none !important;
}

.emoji-group::before {
  background-color: $bordercolor !important;
  box-shadow: none;
}

.col-sm-8,
.col-sm-4 {
  height: 100vh !important;
}

.btn-primary {
  background-color: $primarycolor !important;
  &:hover {
    background-color: #006cb5 !important;
  }
}
.btn {
  padding: 0.5rem 1.5rem !important;
  @include shadow-sm();
}

.list-group-item.active.list-group-item-action {
  border-left: 5px solid $primarycolor;
  background: linear-gradient(
    90deg,
    rgba(53, 69, 85, 1) 0%,
    rgba(36, 48, 59, 1) 100%
  );
  border-top: none;
  margin-top: 0px !important;
}

.button {
  border-radius: 0.2rem;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: none;
}

.list-group-item.active:focus,
.list-group-item-action:focus {
  box-shadow: none !important;
  // border: none !important;
}
